.place__title {
  font-size: 32px;
  line-height: 109%;
  margin: 0 16px 32px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    max-width: 330px;
    line-height: 1.09;
    margin: 0;
    grid-area: title;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 106%;
    margin: 0;
    grid-area: title;
  }
}
