
.page {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  background-color: #2a2c2f;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0;
}

@media screen and (min-width: 768px){
  .header {
    margin: 28px 24px 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1280px) {
  .header {
    margin: 28px 48px 0;
  }
}

/* лого */
.header__logo {
  width: 142px;
  height: 42px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

/* обе ссылки */
.header__links {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 18px;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0 0 5px;
}

/* ссылка */
.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.25;
  transition: opacity 0.3s ease-in;
}
.header__lang-link:hover {
  opacity: 0.8;
}

/* ру */
.header__lang-link_active {
  border-bottom: #fff solid 1px;
}
@media screen and (min-width: 768px){
  .header__lang-link {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1280px) {
  .header__lang-link_active {
    border-bottom: #fff solid 2px;
  }
}

/* лид */
.lead {
  min-width: 320px;
  margin: 0 auto 0;
  display: flex;  
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .lead {
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    margin: 0 auto 0;
  }
}

/* заголовок */
.lead__title {
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  font-weight: 900;
  margin: 48px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .lead__title {
    margin: 48px 24px 0;
    font-size: 96px;
    line-height: 1.04;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__title {
    margin: 48px 152px 0;
  }
}
@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 56px 280px 0;
    font-size: 96px;
    line-height: 104%;
  }
}

/* подзаголовок */
.lead__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin: 16px 0 40px;
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin: 32px 64px 56px;
    font-size: 30px;
    line-height: 120%;
  }
}

@media screen and (min-width: 1024px){
  .lead__subtitle {
    margin: 32px 192px 56px;
    font-size: 30px;
    line-height: 120%;
  }
}
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px 320px 64px;
  }
}

/* картинка */
.lead__image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .lead__image-block {
    margin: 0 48px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image-block {
    margin: 0 148px;
  }
}

.lead__image {
  width: 100%;
  max-height: 615px;
  object-fit: cover;
}

/* подпись */
.lead__caption {
  align-self: start;
  margin: 8px 0 0 16px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .lead__caption{
    margin-left: 24px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .lead__caption{
    margin-left: 0px;
    margin-right: 0;
  }
}

/* ИНТРО */
.intro {
  margin: 64px 16px 0;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    margin: 88px 24px 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    margin: 92px 286px 0 48px;
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    margin: 92px 442px 0 148px;
  }
}

/* заголовок */
.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (max-width: 455px){
  .intro__title{
    max-width: 250px;
  }
}

@media screen and (min-width: 768px){
  .intro__title {
    font-size: 54px;
    line-height: 107%;
  }
}

/* текст */
.intro__text {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}
/*весь список */
.intro__list {
  list-style: none;
  padding: 0;
  margin: 34px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .intro__list {
    margin-top: 33px;
  }
}

/* каждый пункт */
.intro__list-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}
/* цифра */
.intro__list-item_span {
  font-weight: normal;
}

/* ФОТО-ГРИД */
.photo-grid {
  margin: 64px 16px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    margin: 88px 24px 0;
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 92px 48px 0;
  }
}

/* фото */
.photo-grid__item {
  width: 100%;
}

/* ПЛЕЙСИС */
.places {
  margin-top: 64px;
}
@media screen and (min-width: 768px){
  .places {
    margin-top: 88px;
  }
}
@media screen and (min-width: 1024px) {
  .places {
    margin-top: 92px;
  }
}


/* ПЛЕЙС */
.place {
  margin: 50px 0 0 0;
}

@media screen and (min-width: 768px){
  .place {
    margin: 0 24px 73px;
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-areas:
      "title website"
      "image paragraphs";
    gap: 48px 28px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px){
  .place {
    margin: 0 48px 80px;
    display: grid;
    grid-template-columns: 440px auto;
    grid-template-areas:
      "title website"
      "image paragraphs";
    gap: 48px 32px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .place {
    margin: 0 148px 80px ;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-areas:
      "title website"
      "image paragraphs";
    gap: 48px 40px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}

/* заголовок */
.place__title {
  font-size: 32px;
  line-height: 109%;
  margin: 0 16px 32px;
  font-weight: 900;
}
@media screen and (min-width: 768px){
  .place__title {
    font-size: 42px;
    max-width: 292px;
    line-height: 110%;
    margin: 0;
    grid-area: title;
  }
}
@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 106%;
    margin: 0;
    grid-area: title;
  }
}

/* вебсайт */
.place__website {
  margin: 0 16px;
  align-self: end;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__website {
    margin: 0;
    grid-area: website;
  }
}
@media screen and (min-width: 1280px) {
  .place__website {
    margin: 0;
    grid-area: website;
  }
}



/* url */
.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 0 0 12px 0;
}
/* ссылка */
.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  transition: opacity 0.3s ease-in;
}

.place__link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 1280px) {
  .place__link {
    margin: 0;
  }
}

/* картинка */
.place__image {
  margin: 32px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .place__image {
    margin: 0;
    grid-area: image;
  }
}

/* текст*/
.place__paragraphs {
  grid-area: paragraphs;
}
.place__paragraph {
  margin: 0 16px 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}
@media screen and (min-width: 1024px) {
  .place__paragraph {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 1.61;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px){
  .place__paragraph {
    margin: 0 0 25px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

/* КОВЕР */
.cover {
  margin: 66px auto 0;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px 0;
    max-width: 1184px;
  }
}

/* фон */
.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.cover__background:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.cover__background:hover:after {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .cover__background {
    min-height: calc(100vw * 480 / 768);
  }
}
@media screen and (min-width: 768px){
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px){
  .cover__background {
    min-height: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
  }
}

/* заголовок */
.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  text-align: center;
  margin: 33px 16px 0;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .cover__title{
    max-width: 560px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    margin: 115px 104px 0;
  }
}
@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    margin: 195px 232px 0;
    max-width: 560px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.05;
    margin: 245px 312px 0;
    max-width: 560px;
  }
}

/* текст */
.cover__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  z-index: 2;
  margin: 16px 16px 32px;
}
@media screen and (max-width: 768px) {
  .cover__subtitle{
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 106%;
    margin: 32px 204px 115px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    margin: 32px 332px 195px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 106%;
    margin: 32px 412px 245px;
  }
}



/* ФУТЕР */
.footer {
  margin: 64px 118px 24px 16px;
}

@media screen and (min-width: 768px){
  .footer {
    margin: 88px 24px 24px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
  }
}

/* список */
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* отдельные ссылки */
.footer__link {
  margin-bottom: 32px;
  color: #fff;
  text-decoration: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  transition: opacity 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}
.footer__link:last-child{
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__link {
    margin: 0 18px 0 0;
    align-items: flex-end;
    font-size: 16px;
    line-height: 1.125;
  }
  .footer__link:last-child {
    margin-right: 0;
  }
}

/* подпись */
.footer__copyright {
  margin: 48px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0;
    align-items: flex-end;
    line-height: 114%;
  }
}
