.lead__image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .lead__image-block {
    margin: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-block {
    margin: 0 148px;
  }
}
